/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 
.promotion-banner{
	--clr-surface-100:#e8f1f5;
	--clr-surface:#007ea7;
	--clr-font: #fff;
	--clr-banner-font:#0c0c0c;
	--clr-banner-font-body:#232323;
	padding: 2em 1em;
	background-color: var(--clr-surface-100);
	position: relative;
	display: grid;
	row-gap: 1em;

	@media (max-width: $screen-sm-min) {
		grid-template-rows:auto 1fr;


		
	}

}
.promo-header{
	display: grid;
}
.promotion-heading{
	// @extend h2;
	font-size: 2.25rem;
	color: var(--clr-banner-font);
}
.promo-discount-rate{
	background-color: var(--clr-surface);
	border-color: var(--clr-font);
	color: var(--clr-font);
	padding: 20px;

	grid-column: 2;
	position: absolute;
	top:0px;
	right: 20px;
	padding-block:clamp(1.5rem, 2.5vw, 3rem);
	display: grid;
	place-content: center;

	border-radius: 0 0 0 50%;

	@media (max-width: $screen-sm-min) {
		grid-column: 1/-1;
		grid-row: 1;
		inset: 0;
		position: static;
		border-radius: 0px;
		grid-auto-flow: column;
		gap:20px;

		margin-top: -2em;
        margin-inline: -1em;
	}

	.promotion-discount{
		font-size:clamp(1.5rem, 2.5vw, 4rem);
		line-height: 1;
		color: var(--clr-font);
		font-weight: 700;
		min-width: max-content;
	}
	
	.align-right{
		text-align: right;
		color: var(--clr-font);
		min-width: max-content;
	}

}
.promotion-code{
	font-size: 1.6rem;
	font-size:clamp(1.2rem, 2.5vw, 1.6rem);
	color: var(--clr-font);
	line-height: 1.2;

	display:block;
}
.promotion-content{
	font-size: 1.2rem;
	font-size:clamp(1rem, 2.5vw, 1.2rem);
	line-height: 1.6;
	color: var(--clr-banner-font-body);
}
.promotion-apply-date{
	display: flex;
	gap:10px;

	p{
		display: grid;
		position:relative;
		font-size: .875rem;
		line-height: 1;
		text-transform: uppercase;
		color:var(--clr-banner-font);
	}
	.promotion-date{
		letter-spacing: .5px;
		background-color: var(--clr-surface);
		border-color: var(--clr-font);
		color: var(--clr-font);
		padding: .5em;
		font-size: 1.2rem;
		line-height: 1.2;
		text-transform: none;
	}
}
